# Ignore icon files
*.ico
*.png
*.svg
*.jpg
*.jpeg
*.gif
*.ini

# Ignore specific icon directories
/icons/

# Ignore the specific file
University/University\ Files/University-Code/Year\ 2/Semester\ 3/Scientific\ Programming/Problems/Problem\ set\ 2/External\ Sales.db.xlsx

